*{
  margin: 0;
  padding: 0;
}

.body {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(1.jpg);
  background-size: cover;
  background-position: center;
  height: 150vh;
  font-family: monospace;
  font-size: 20px;

}

.top-bar{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  padding: 10px;
}

.logo{
  color: #fff;
  font-size: 40px;
}

.menu {

}

.menu ul li{
  text-align: center;
  list-style-type: none;
  display: inline-block;

}

.menu ul li a{
  color: #fff;
  text-decoration:none;
  padding: 0;

  border: 1px solid #fff
}

ul li a:hover{
  background-color: #fff;
  color: #000
}


.banner-text{
  display: flex;
  padding: 15% 0;
}

.banner-text{
  color: #fff;
  margin: auto;
  text-align: center;
  width: 50%;
}

.banner-text-items h1{
  font-size: 70px;
  margin-bottom: 20px;
}

.banner-text-itmes p{
  font-size: 18px;
}

.menu-2 ul li{
  text-align: center;
  list-style-type: none;
  display: inline-block;

}

.menu-2 ul li a{
  color: #fff;
  font-size: 20px;
  text-decoration:none;
  padding: 10px 30px;
  border: 1px solid #fff
}

.other-pages__video h1 p {
  padding: 15px;
}

.other-pages{
  text-align: center;
  color: white;
}

.contain-iframe {
  margin-top: 40px;
}
